In [1]:
!pip install kaggle

Collecting kaggle
  Downloading kaggle-1.6.17.tar.gz (82 kB)
     ---------------------------------------- 0.0/82.7 kB ? eta -:--:--
     ---------------------------------------- 0.0/82.7 kB ? eta -:--:--
     ---- ----------------------------------- 10.2/82.7 kB ? eta -:--:--
     ---- ----------------------------------- 10.2/82.7 kB ? eta -:--:--
     ---- ----------------------------------- 10.2/82.7 kB ? eta -:--:--
     -------------- ----------------------- 30.7/82.7 kB 130.4 kB/s eta 0:00:01
     ------------------ ------------------- 41.0/82.7 kB 140.3 kB/s eta 0:00:01
     ---------------------------- --------- 61.4/82.7 kB 204.8 kB/s eta 0:00:01
     ---------------------------- --------- 61.4/82.7 kB 204.8 kB/s eta 0:00:01
     ---------------------------- --------- 61.4/82.7 kB 204.8 kB/s eta 0:00:01
     ---------------------------- --------- 61.4/82.7 kB 204.8 kB/s eta 0:00:01
     -------------------------------- ----- 71.7/82.7 kB 140.3 kB/s eta 0:00:01
     -------------------------------------- 82.7/82.7 kB 154.5 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: six>=1.10 in c:\users\fbg\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\fbg\anaconda3\lib\site-packages (from kaggle) (2023.7.22)
Requirement already satisfied: python-dateutil in c:\users\fbg\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\fbg\anaconda3\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in c:\users\fbg\anaconda3\lib\site-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in c:\users\fbg\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\fbg\anaconda3\lib\site-packages (from kaggle) (1.26.16)
Requirement already satisfied: bleach in c:\users\fbg\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\fbg\anaconda3\lib\site-packages (from bleach->kaggle) (23.1)
Requirement already satisfied: webencodings in c:\users\fbg\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\fbg\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\fbg\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\fbg\anaconda3\lib\site-packages (from requests->kaggle) (3.4)
Requirement already satisfied: colorama in c:\users\fbg\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.6.17-py3-none-any.whl size=105802 sha256=6763770c602c3e06357786dac5cf95859c17b6740de16b59be3008a88c70825d
  Stored in directory: c:\users\fbg\appdata\local\pip\cache\wheels\ff\55\fb\b27a466be754d2a06ffe0e37b248d844f090a63b51becea85d
Successfully built kaggle
Installing collected packages: kaggle
Successfully installed kaggle-1.6.17

In [4]:
!kaggle competitions download -c titanic

Downloading titanic.zip to C:\Users\FBG\Desktop\Untitled Folder

  0%|          | 0.00/34.1k [00:00<?, ?B/s]
100%|##########| 34.1k/34.1k [00:00<00:00, 813kB/s]

In [7]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\fbg\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\fbg\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\fbg\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\fbg\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\fbg\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\fbg\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [16]:
import pandas as pd
train = pd.read_csv('titanic/train.csv')
test = pd.read_csv('titanic/test.csv')

In [23]:
train.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [24]:
train.shape

(891, 12)

In [29]:
train[train["Age"]<1]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S

In [33]:
!pip install plotly chart_studio --upgrade

Requirement already satisfied: plotly in c:\users\fbg\anaconda3\lib\site-packages (5.24.1)
Requirement already satisfied: chart_studio in c:\users\fbg\anaconda3\lib\site-packages (1.1.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\fbg\anaconda3\lib\site-packages (from plotly) (8.2.2)
Requirement already satisfied: packaging in c:\users\fbg\anaconda3\lib\site-packages (from plotly) (23.1)
Requirement already satisfied: requests in c:\users\fbg\anaconda3\lib\site-packages (from chart_studio) (2.31.0)
Requirement already satisfied: retrying>=1.3.3 in c:\users\fbg\anaconda3\lib\site-packages (from chart_studio) (1.3.4)
Requirement already satisfied: six in c:\users\fbg\anaconda3\lib\site-packages (from chart_studio) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\fbg\anaconda3\lib\site-packages (from requests->chart_studio) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\fbg\anaconda3\lib\site-packages (from requests->chart_studio) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\fbg\anaconda3\lib\site-packages (from requests->chart_studio) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\fbg\anaconda3\lib\site-packages (from requests->chart_studio) (2023.7.22)

In [34]:
!pip install cufflinks --upgrade

Requirement already satisfied: cufflinks in c:\users\fbg\anaconda3\lib\site-packages (0.17.3)
Requirement already satisfied: numpy>=1.9.2 in c:\users\fbg\anaconda3\lib\site-packages (from cufflinks) (1.24.3)
Requirement already satisfied: pandas>=0.19.2 in c:\users\fbg\anaconda3\lib\site-packages (from cufflinks) (2.0.3)
Requirement already satisfied: plotly>=4.1.1 in c:\users\fbg\anaconda3\lib\site-packages (from cufflinks) (5.24.1)
Requirement already satisfied: six>=1.9.0 in c:\users\fbg\anaconda3\lib\site-packages (from cufflinks) (1.16.0)
Requirement already satisfied: colorlover>=0.2.1 in c:\users\fbg\anaconda3\lib\site-packages (from cufflinks) (0.3.0)
Requirement already satisfied: setuptools>=34.4.1 in c:\users\fbg\anaconda3\lib\site-packages (from cufflinks) (68.0.0)
Requirement already satisfied: ipython>=5.3.0 in c:\users\fbg\anaconda3\lib\site-packages (from cufflinks) (8.15.0)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\fbg\anaconda3\lib\site-packages (from cufflinks) (8.0.4)
Requirement already satisfied: backcall in c:\users\fbg\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (0.2.0)
Requirement already satisfied: decorator in c:\users\fbg\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\fbg\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\fbg\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\fbg\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\fbg\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\fbg\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (2.15.1)
Requirement already satisfied: stack-data in c:\users\fbg\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\fbg\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (5.7.1)
Requirement already satisfied: colorama in c:\users\fbg\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (0.4.6)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\fbg\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->cufflinks) (6.25.0)
Requirement already satisfied: widgetsnbextension~=4.0 in c:\users\fbg\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->cufflinks) (4.0.5)
Requirement already satisfied: jupyterlab-widgets~=3.0 in c:\users\fbg\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->cufflinks) (3.0.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\fbg\anaconda3\lib\site-packages (from pandas>=0.19.2->cufflinks) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\fbg\anaconda3\lib\site-packages (from pandas>=0.19.2->cufflinks) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\fbg\anaconda3\lib\site-packages (from pandas>=0.19.2->cufflinks) (2023.3)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\fbg\anaconda3\lib\site-packages (from plotly>=4.1.1->cufflinks) (8.2.2)
Requirement already satisfied: packaging in c:\users\fbg\anaconda3\lib\site-packages (from plotly>=4.1.1->cufflinks) (23.1)
Requirement already satisfied: comm>=0.1.1 in c:\users\fbg\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (0.1.2)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\fbg\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (1.6.7)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\fbg\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (7.4.9)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\fbg\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (5.3.0)
Requirement already satisfied: nest-asyncio in c:\users\fbg\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (1.5.6)
Requirement already satisfied: psutil in c:\users\fbg\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (5.9.0)
Requirement already satisfied: pyzmq>=20 in c:\users\fbg\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (23.2.0)
Requirement already satisfied: tornado>=6.1 in c:\users\fbg\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (6.3.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\fbg\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=5.3.0->cufflinks) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\fbg\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=5.3.0->cufflinks) (0.2.5)
Requirement already satisfied: executing in c:\users\fbg\anaconda3\lib\site-packages (from stack-data->ipython>=5.3.0->cufflinks) (0.8.3)
Requirement already satisfied: asttokens in c:\users\fbg\anaconda3\lib\site-packages (from stack-data->ipython>=5.3.0->cufflinks) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\fbg\anaconda3\lib\site-packages (from stack-data->ipython>=5.3.0->cufflinks) (0.2.2)
Requirement already satisfied: entrypoints in c:\users\fbg\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (0.4)
Requirement already satisfied: platformdirs>=2.5 in c:\users\fbg\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (3.10.0)
Requirement already satisfied: pywin32>=300 in c:\users\fbg\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (305.1)

In [52]:
def create_df(feature):
  survived = train[train['Survived']==1][feature].value_counts()
  dead = train[train['Survived']==0][feature].value_counts()

  df = pd.DataFrame([survived, dead])
  df.index = ["Survived","Dead"]   
  return df

Sex       female  male
Survived     233   109
Dead          81   468

In [64]:
import chart_studio.plotly as py
import cufflinks as cf

df = create_df('Sex')
df['tag'] = df.index
df.iplot(kind='pie', labels='tag', values='female')

In [66]:
df_t = df.transpose()
df_t

        Survived  Dead
Sex
female       233    81
male         109   468
tag     Survived  Dead